@import 'tailwindcss';

@theme {
	--color-primary: #26c17e;
	--color-foreground: #222935;
	--color-background: #ffffff;
	--color-card: #dddddd;
	--color-dimmed: #667081;
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}
}
